body {
    font-family: sans-serif;
    color: white;
    background-color: rgb(10%, 10%, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    border: 0.10rem solid white;
}

.danger {
    color: rgb(240, 128, 128);
}

.bg-danger {
    background-color: rgba(240, 128, 128, 0.1);
}

.p-10 {
    padding: 1.0rem
}

.bold {
    font-weight: bold;
}

h1 {
    font-weight: lighter;
    margin-bottom: 0;
}

.warn {
    color: orange;
}

.info {
    color: darkcyan;
}

.card {
    flex-shrink: 0;
    font-family: monospace;
    margin-top: 0.5rem;
}

.card h1 {
    font-size: 1rem;
    color: red;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.justify-stretch {
    justify-content: stretch;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.blur {
    filter: blur(8px);
}

.w-full {
    width: 100%
}

.cursor-pointer {
    cursor: pointer;
}

.selected {
    color: red;
}

[debug] {
    border: 1px solid red;
}

[debug] > * {
    border: 1px solid green;
}

[debug] > * > * {
    border: 1px solid blue;
}

[debug] > * > * > * {
    border: 1px solid cyan;

}

[debug] > * > * > * > * {
    border: 1px solid magenta;
}

[debug] > * > * > * > * > * {
    border: 1px solid yellow;
}